/* .movie-card{
    border:2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    transition: all 0.3s ease;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #0f2027,#203a43,#2c5364);
    color: #ffffff;
    line-height: 1.6;
}
